
## Feature scaling 
- is a crucial preprocessing step in machine learning that ensures features are on a similar scale, improving the performance and convergence speed of many algorithms. Here are the most common feature scaling techniques:
- Min-Max Scaling (Normalization)
---Transforms features to a specific range, typically [0, 1] or [-1, 1].
- Standardization (Z-score Normalization)
---Centers the data around the mean with a standard deviation of 1.

In [7]:
#Min-Max Scaling (Normalization)
#to load dataset 

import pandas as pd
df = pd.read_csv("Housing.csv")
df.iloc[:,[0,1,2]]

        price  area  bedrooms
0    13300000  7420         4
1    12250000  8960         4
2    12250000  9960         3
3    12215000  7500         4
4    11410000  7420         4
..        ...   ...       ...
540   1820000  3000         2
541   1767150  2400         3
542   1750000  3620         2
543   1750000  2910         3
544   1750000  3850         3

[545 rows x 3 columns]

In [10]:
#Min-Max Scaling (Normalization)
from sklearn.preprocessing import MinMaxScaler 
scaling = MinMaxScaler()
scaling.fit_transform(df[["area","bedrooms"]])

array([[0.39656357, 0.6       ],
       [0.5024055 , 0.6       ],
       [0.57113402, 0.4       ],
       ...,
       [0.13539519, 0.2       ],
       [0.08659794, 0.4       ],
       [0.15120275, 0.4       ]])

In [12]:
#Standardization (Z-score Normalization) 
from sklearn.preprocessing import StandardScaler
scaling = StandardScaler()
scaling.fit_transform(df[["area","bedrooms"]])

array([[ 1.04672629,  1.40341936],
       [ 1.75700953,  1.40341936],
       [ 2.21823241,  0.04727831],
       ...,
       [-0.70592066, -1.30886273],
       [-1.03338891,  0.04727831],
       [-0.5998394 ,  0.04727831]])